{% extends 'base.html' %} {% load static %} {% block style %}

<style>
  .blog_wrapper .card {
    border: 4px solid var(--secondary-color);
    box-shadow: 4px 8px 15px 0px var(--primary-color);
    height: 50vh;
    overflow-y: auto;
  }
</style>

{% endblock style %} {% block content1 %}

<section id="blog" class="blog_wrapper pb-0">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12 section-title text-center mb-5">
        <h6>Say Hello TO Our Visiters</h6>
        <h3>Our Blog</h3>
      </div>
    </div>

    {% comment %} <div class="blog-box"> {% endcomment %}
      <div class="row p-3 py-5">

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
  
            <img src="{% static 'images/blog/blog1.webp' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
             
            </div>
            
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4 mb-4 mx-0">
          <div class="card p-0 rounded-0">
            <img src="{% static 'images/blog/blog2.webp' %}" alt="" />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
              
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
            <img src="{% static 'images/blog/b4.jpg' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
            
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
            <img src="{% static 'images/blog/b4.webp' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
             
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
            <img src="{% static 'images/images/hotel3.png' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
              
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
            <img src="{% static 'images/train2.jpg' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
             
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
            <img src="{% static 'images/blog/b4.jpg' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
             
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card p-0 rounded-1">
            <img src="{% static 'images/images/hotel1.png' %}" alt="" />
            <hr />
            <div class="blog-content bg-white p-4">
              <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
              <h6>By Admin - February 18, 2018</h6>
              <p class="mt-2">
                Posts are typically displayed in reverse chronological order so
                that the most recent post appears first, at the top of the web
                page.
              </p>
            
            </div>
          </div>
        </div>
        
      </div>
    {% comment %} </div> {% endcomment %}

  

  </div>

  <div class="our-partner-slider mt-0">
    <div class="container swiper our-partner">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="images/partners/brand1.webp" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="images/partners/brand2.webp" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="images/partners/brand3.webp" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="images/partners/brand4.webp" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="images/partners/brand5.webp" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="images/partners/brand6.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content1 %}
